body {
    touch-action: manipulation;
    background-color: lightblue;
    overflow-y: hidden;
    overflow-x: scroll;
}

.tapNotification{
    font-family: "Lucida Console", Courier, monospace;
    position: fixed;
    left: 10%;
    bottom: 20px;
    /*transform: translate(-50%, -50%);*/
    margin: 0 auto;
}

.top-bars{
    position: fixed;
}