body {
    touch-action: manipulation;
    background-color: lightblue;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tapNotification{
    font-family: "Lucida Console", Courier, monospace;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}